<html>
<head>
<title>Welcome to ansible</title>
</head>
<body>
<h1>nginx, configurado con Ansible</h1>
<p>Si puedes ver esto entonces es que funciona!!</p>
<p>ansible_family={{ ansible_os_family }}</p>
</body>
</html>
